.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    width: 20%;
}
* {
    box-sizing: border-box;
  }
body{
    background-image: url('https://i.imgur.com/lNqXEvO.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 300px; */
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
}
  .grid div.frodo {
    background-image: url('https://i.imgur.com/VUBLpBp.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    /* display: block; */
    position: relative;
    z-index: 3;
  }
  .menu{
    padding: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px;
  }
  #begin, #how-to, #reset{
    width: 90px;
    margin: 100px 50px 10px -200px;
  }
  #begin{
    margin: 120px 70px 0px 0px;
  }
  #how-to{
    margin: 120px 70px 0px 0px;
  }
  #reset{
    margin: 120px 70px 0px 0px; 
  }
  .safezone-one{
    background-color: rgb(27, 68, 27);
  }
  .safezone-two{
    background-color: rgb(71, 36, 15);
  }
.river{
    background-image: url('https://i.imgur.com/v6SsdE5.gif');
    background-size: 140%;
    position: relative;
    z-index: 0;
}
.river .frodo{
    background-image: url('https://i.imgur.com/VUBLpBp.png');
    background-color: url('https://i.imgur.com/v6SsdE5.gif');
    background-size: 115%;
    z-index: 2;
    position: relative;
}
.raft {
    background-image: url('https://i.imgur.com/wROXoar.gif');
    background-size: 140%;
    z-index: 2;
}
.tavern{
    background-image: url('https://i.imgur.com/wYfsjWK.gif');
    background-size: 100%;
}
.road-one{
    background-image: url('https://i.imgur.com/lZzNdHH.png');
    background-size: 117%;
}
.road-two{
        background-image: url('https://i.imgur.com/lZzNdHH.png');
        background-size: 117%;
}
.black-riders{
    background-image: url('https://i.imgur.com/EqGJnAP.png');
    background-size: 117%;
}
.black-riders-two{
    background-image: url('https://i.imgur.com/EqGJnAP.png');
    background-size: 117%;
}
.grid-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 700px;
    width: 1000px;
  }
  .grid div {
    /* border: 1px solid lightgrey; */
    flex-grow: 1;
    height: 13%;
    width: 9%;
    z-index: -2;
    /* background-color: rgb(235, 201, 127); */
  }

/* .river .raft-one{
    background-image: url('https://i.imgur.com/821jTNx.png');
    background-size: 50%;
} <---- this code is when I tried to appendChild to river element but the raft pciture would not appear on top of the river iamge  */