.title{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    width: 20%;
}
* {
    box-sizing: border-box;
  }
body{
    background-image: url('https://i.imgur.com/ycJu4jC.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* height: 300px; */
    height: 100vh;
}
.main{
    display: flex;
    justify-content: center;
}
  .grid div.frodo {
    background-image: url('https://i.imgur.com/VUBLpBp.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    /* display: block; */
    position: relative;
    z-index: 3;
  }
  .menu{
    padding: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px;
  }
  #begin, #how-to, #reset{
    width: 100px;
    height: 130px;
    margin: 90px 50px 10px -200px;
  }
  #begin{
    margin: 120px 70px -30px 0px;
  }
  #how-to{
    margin: 120px 70px -30px 0px;
  }
  #reset{
    margin: 120px 70px 0px 0px; 
  }
  .safezone-one{
    background-color: rgb(27, 68, 27);
  }
  .safezone-two{
    background-color: rgb(71, 36, 15);
  }
.river{
    background-image: url('https://i.imgur.com/v6SsdE5.gif');
    background-size: 140%;
    position: relative;
    z-index: 0;
}
.river .frodo{
    background-image: url('https://i.imgur.com/VUBLpBp.png');
    background-size: 115%;
    z-index: 2;
    position: relative;
}
.raft {
    background-image: url('https://i.imgur.com/wROXoar.gif');
    background-size: 140%;
    z-index: 2;
}
.tavern{
    background-image: url('https://i.imgur.com/IrPzgip.gif');
    background-size: 129%;
}
.tavern-zone{
    background-color: rgb(53, 40, 40);
}
.trees{
    background-image: url('https://i.imgur.com/Chbub34.png');
    background-size: 99%;
}
.road-one{
    background-image: url('https://i.imgur.com/qPhVn3Z.png');
    background-size: 117%;
}
.road-two{
        background-image: url('https://i.imgur.com/qPhVn3Z.png');
        background-size: 117%;
}
.road-three{
    background-image: url('https://i.imgur.com/qPhVn3Z.png');
    background-size: 100%;
}
.river-two{
    background-image: url('https://i.imgur.com/v6SsdE5.gif');
    background-size: 140%;
}
.black-riders{
    background-image: url('https://i.imgur.com/dpYsUky.png');
    background-size: 117%;
}
.black-riders-two{
    background-image: url('https://i.imgur.com/dpYsUky.png');
    background-size: 117%;
}
.docks{
    background-image: url('https://i.imgur.com/5jkIR6O.gif');
    background-size: 138% ;
}
.docks .frodo{
    background-image: url('https://i.imgur.com/VUBLpBp.png');
    background-image: url('https://i.imgur.com/OMnV8lX.gif');
    background-size: 138%;
    z-index: -1;
}
.grid-wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}
.grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 700px;
    width: 1000px;
    padding: 0px 200px 0px 0x;
  }
  .grid div {
    flex-grow: 1;
    height: 13%;
    width: 9%;
    z-index: -2;
  }
  /* WIN FUNCTION */
  .result{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      box-sizing: border-box;
      width: 550px;
      height: 400px;
      font-size: 20px;
      background-image: url('https://i.imgur.com/pwWrrQn.png');
      background-size: 100%;
      position: absolute;
      top: 250px;
      left: 610px;
      opacity: 0;
      /* visibility: hidden; */
  }
/* LOSE FUNCTION */
.result-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 550px;
    height: 400px;
    font-size: 20px;
    background-image: url('https://i.imgur.com/Ge0Ze17.png');
    background-size: 100%;
    position: absolute;
    top: 250px;
    left: 760px;
    opacity: 0;
    /* visibility: hidden; */
}
.how-to-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 550px;
    height: 400px;
    font-size: 20px;
    background-image: url('https://i.imgur.com/MkMvajk.png');
    background-size: 100%;
    position: absolute;
    top: 250px;
    left: 760px;
    opacity: 0;
}
  /* padding: 0px 0px 15px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px; */
  /* .menu{
    padding: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px;
  } */
  .menu{
    padding: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    border: 1px;
  }
/* .river .raft-one{
    background-image: url('https://i.imgur.com/821jTNx.png');
    background-size: 50%;
} <---- this code is when I tried to appendChild to river element but the raft pciture would not appear on top of the river iamge  */